.calendar{
  .wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(24, 1fr);
    gap: 10px;
  }
  
  .hour-cell {
    grid-column: 1;
  }
  
  .day-cell {
    grid-column: span 7; /* Span all 7 days */
  }
  
  .event {
    position: relative;
    background-color: lightblue;
    border: 1px solid blue;
    border-radius: 5px;
  }
}