@import '@/theme/Colors.less';
@import '@/theme/Mixins.less';

.nav-bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: black;
  img {
    height: 3rem;
    margin: 1rem;
  }
  .center {
    display: flex;
    align-items: center;
    height: inherit;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .nav-link {
    display: flex;
    padding: 1rem 2rem;
    height: 100%;
    align-items: center;
    color: white;
    text-decoration: none;
    &:hover {
      color: @beigeDark;
    }
  }
  .nav-input {
    color: white;
  }
  .nav-option {
    color:black;
    &:hover {
      background-color: @beigeDark;
    }
  }
  .dropdown .drop-menu{
    background-color: @grey;
  }
  .side {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

