@import '@/theme/Colors.less';
@import '@/theme/Mixins.less';

.nav-bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: black;
  img {
    height: 3rem;
    margin: 1rem;
  }
  .side {
    display: flex;
    height: 4rem;
    .nav-link {
      display: flex;
      align-items: center;
      flex-direction: row;
      padding: 1rem;
      color: white;
      text-decoration: none;
      &:hover {
        color: @beigeDark;
      }
    }
    .nav-input {
      color: white;
    }
    .nav-option {
      color:black;
      &:hover {
        background-color: @beigeDark;
      }
    }
    .drop-menu{
      background-color: @grey;
    }
  }
}

